/* Foods red theme styles */

.inline-link {
  color: #fc922c;
}

.button {
  background-color: #a32b47;
  color: #fff;
}

.button:hover {
  background-color: #7c2237;
}

::-webkit-scrollbar-thumb {
  color: #fc922c;
  background: #fc922c;
}

/* Foods header */

.foods-header {
  background-color: #a32b47;
}

.foods-header__menu-item--active,
.foods-header__personal-item--active {
  background-color: #e2204d;
}

.foods-header__personal-item--cart span + span {
  background-color: #fc922c;
}

.foods-header__cart .foods-cart__result-cart {
  background-color: #a32b47;
  color: #fff;
}

.foods-header__cart .foods-cart__result-cart:hover {
  background-color: #7c2237;
}

/* Foods top */

.foods-top__logo-image {
  background-image: url("../../images/logo/color_themes/logo_foods_red.png");
}

input[name="foods-top__search-field"]:focus {
  border: 1px solid #a32b47;
}

input[name="foods-top__search-field"]:focus ~ input[name="foods-top__search-reset"] {
  background-position: -33px -303px;
}

input[name="foods-top__search-field"]:focus ~ input[name="foods-top__search-submit"] {
  background-position: -8px -296px;
}

.foods-top .advanced-search__button {
  background-color: #a32b47;
  border: 1px solid #a32b47;
}

.foods-top .advanced-search__button:hover {
  border: 1px solid #fc922c;
}

.advanced-search__price-range .ui-slider-range {
  background-color: #fc922c;
}

.advanced-search__price-range .ui-slider-handle {
  background-position: -48px -255px;
}

.foods-top .advanced-search__form input[name="advanced-search__submit"] {
  background-color: #a32b47;
  color: #fff;
}

.foods-top .advanced-search__form input[name="advanced-search__submit"]:hover {
  background-color: #7c2237;
}

/* Foods catalog */

.foods-catalog__goods-item--active,
.foods-catalog__goods-item--active::before, 
.foods-catalog__goods-item--active::after {
  background-color: #fc922c;
}

/* Foods promo */

.foods-promo .inline-link {
  color: #fc922c;
}

/* Foods carousel */

.foods-carousel-button {
  background-position: -35px -280px;
}

.foods-carousel-button--left.foods-carousel-button--disabled:hover,
.foods-carousel-button--right.foods-carousel-button--disabled:hover {
  background-position: -35px -280px;
}

/* Foods goods */

.foods-goods__product-item:hover {
  border: 2px solid #fc922c;
}

.foods-goods__product-item:hover .foods-goods__product-buy:hover {
  background-color: #7c2237;
}

/* Foods breadcrumbs */

.foods-breadcrumbs a {
  color: #fc922c;
}

.foods-breadcrumbs a::after {
  color: #666;
}

/* Foods subsection */

.foods-subsection__item {
  border: 1px solid #a32b47;
}

.foods-subsection__item--active {
  background-color: #a32b47;
}

.foods-subsection__item--active:hover {
  border: 1px solid #a32b47;
}

/* Foods sorter */

.foods-sorter__form .jq-selectbox__select-text {
  color: #fc922c;
  border-bottom: 1px dotted #fc922c;
}

.foods-sorter__form .jq-selectbox__select-text::after {
  background-position: -50px -280px;
}

/* Foods product card */

.product-card__action-favorite,
.product-card__action-subscription {
  color: #fc922c;
}

.product-card__tab--active {
  color: #fc922c;
  border-bottom: 4px solid #fc922c;
}

.product-card__tab--active:hover {
  color: #fc922c;
}

.product-card__reviews-button:hover {
  color: #fc922c;
  border: 1px solid #fc922c;
}

/* Foods cart */

.cart-seller a {
  color: #fc922c;
}

/* Foods personal */

.personal__tab--active {
  color: #fc922c;
  border-bottom: 4px solid #fc922c;
}

.personal__tab--active:hover {
  color: #fc922c;
}

.profile-actions__action-button, 
.address-actions__action-button {
  background-color: transparent;
  color: #999;
}

.profile-actions__action-button:hover, 
.address-actions__action-button:hover {
  background-color: transparent;
  color: #fc922c;
  border: 1px solid #fc922c;
}

.profile-edit__form input[type="text"]:focus, 
.address-edit__form input[type="text"]:focus, 
.profile-edit__form textarea:focus {
  border: 1px solid #a32b47;
}

.profile-edit__form-reset, 
.address-edit__form-reset {
  background-color: #ebebed;
  color: #000;
}

.profile-edit__form-reset:hover, 
.address-edit__form-reset:hover {
  background-color: #dbdbdd;
}

.address-info__item-edit:hover button {
  color: #fc922c;
}

.profile-actions__action-button--edit:hover::before,
.address-info__item-edit:hover::before {
  background-position: -71px -249px;
}

.profile-actions__action-button--change:hover::before {
  background-position: -93px -249px;
}

/* Foods order */

.order__tab--active {
  color: #fc922c;
  border-bottom: 4px solid #fc922c;
}

.order__tab--active:hover {
  color: #fc922c;
}

.order-delivery__form input[type="text"]:focus {
  border: 1px solid #a32b47;
}

.order-payment__method a.order-payment__method-item--active {
  border-bottom: 4px solid #fc922c;
}

.foods-cart__item-file a {
  color: #fc922c;
}

.confirmation__form-notes input[type="text"]:focus, 
.confirmation__form-authorization input[type="text"]:focus,
.confirmation__form-notes textarea:focus {
  border: 1px solid #a32b47;
}

.order__form-reset, 
.order__form-update {
  background-color: #ebebed;
  color: #000;
}

.order__form-reset:hover, 
.order__form-update:hover {
  background-color: #dbdbdd;
}

.payment-instruction__button {
  color: #fc922c;
  border-bottom: 1px dotted #fc922c;
}

.payment-instruction__button::after {
  border-top: 7px solid #fc922c;
}

.payment-instruction__description {
  border-left: 1px solid #fc922c;
}

.refresh-button::before {
  background-position: -51px -294px;
}

.foods-orders__item-status--is-formed::before {
  background-position: -123px -306px;
}

.foods-orders__item-status--new::before, 
.foods-orders__item-status--received::before {
  background-position: -100px -287px;
}

.foods-orders__item-status--canceled::before {
  background-position: -78px -288px;
}

.foods-orders__item-status--in-processing::before {
  background-position: -128px -284px;
}

.foods-orders__item-status--shipped::before {
  background-position: -152px -286px;
}

.foods-orders__item-status--received-by-buyer::before {
  background-position: -92px -267px;
}

.foods-orders__item-payment--waiting-review::before {
  background-position: -152px -307px;
}

.foods-orders__item-payment--waiting-payment::before {
  background-position: -181px -286px;
}

.foods-orders__item-payment--canceled::before {
  background-position: -78px -288px;
}

.foods-orders__item-payment--paid::before {
  background-position: -100px -287px;
}

.foods-orders__item-payment--refund::before, 
.foods-orders__item-payment--returned::before {
  background-position: -70px -270px;
}

.foods-orders__item-payment--expected-confirmation::before {
  background-position: -79px -310px;
}

.foods-orders__item-status--partially-paid::before {
  background-position: -100px -309px;
}

/* Foods - Search results */

.foods-search__results a {
  color: #fc922c;
}

/* Foods history */

.foods-orders__item-order a, 
.foods-orders__item-seller a {
  color: #fc922c;
}

/* Foods footer */

.foods-footer__link--support a,
.foods-footer__link--email a,
.foods-footer__link--skype a,
.foods-footer__link--icq a,
.foods-footer__copyrights a {
  color: #fc922c;
}

.foods-footer__subscription-form::before {
  background-position: -7px -279px;
}

/* Foods popup - enter/registration */

.foods-popup__header-block {
  background-color: #a32b47; 
}

.foods-popup__header-block--action {
  background-color: #e2204d;
}

input.foods-popup__form-submit {
  background-color: #a32b47;
  color: #fff;
}

input.foods-popup__form-submit:hover {
  background-color: #7c2237;
}

.foods-popup__form input:focus {
  border: 1px solid #a32b47;
}

