@font-face {
    font-family: "Museo Sans Cyrl100";
    src: url('../fonts/MuseoSansCyrl100.otf');
    src: url('../fonts/museosanscyrl100-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl300";
    src: url('../fonts/MuseoSansCyrl300.otf');
    src: url('../fonts/museosanscyrl300-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl500";
    src: url('../fonts/MuseoSansCyrl500.otf');
    src: url('../fonts/museosanscyrl500-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl700";
    src: url('../fonts/MuseoSansCyrl700.otf');
    src: url('../fonts/museosanscyrl700-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl900";
    src: url('../fonts/MuseoSansCyrl900.otf');
    src: url('../fonts/museosanscyrl900-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Cyrl500";
  font-size: 13px;
  background-color: #f4f4f4;
  color: #666;
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

.inline-link {
  text-decoration: underline;
  color: #2e8231;
}

.foods-container {
  clear: both;
  width: 1180px;
  margin: 0 auto;
}

/* Foods header */

.foods-header {
  min-height: 58px;
  background-color: #2e8231;
}

.foods-header__menu {
  float: left;
}

.foods-header__menu a {
  display: block;
  font-family: "Museo Sans Cyrl900";
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  margin-top: 17px;
  margin-right: 27px;
  color: #fff;
}

.foods-header__personal {
  float: right;
  margin-right: 57px;
}

.foods-header__personal a {
  position: relative;
  display: block;
  font-family: "Museo Sans Cyrl500";
  font-size: 11px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 19px;
  margin-left: 25px;
  padding-left: 30px;
  color: #fff;
}

.foods-header__personal a::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/foods_sprite.fw.png");
}

.foods-header__personal-profile::before {
  top: 0;
  left: 5px;
  width: 16px;
  height: 20px;
  background-position: -140px -8px;
}

.foods-header__personal-subscription::before {
  top: 0;
  left: 3px;
  width: 17px;
  height: 19px;
  background-position: -114px -34px;
}

.foods-header__personal-favorites::before {
  top: 2px;
  left: -1px;
  width: 19px;
  height: 17px;
  background-position: -159px -11px;
}

.foods-header__personal-cart::before {
  top: 0;
  left: 1px;
  width: 20px;
  height: 19px;
  background-position: -112px -8px;
}

.foods-header__personal-cart::after {
  position: absolute;
  top: 0;
  right: -27px;
  content: "3";
  display: block;
  width: 22px;
  height: 22px;
  line-height: 24px;
  text-align: center;
  background-color: #cf453c;
  border-radius: 50%;
}

.foods-header__menu li,
.foods-header__personal li {
  display: inline-block;
  vertical-align: top;
}

/* Foods top */

.foods-top {
  min-height: 172px;
  margin-bottom: 31px;
  background-color: #fff;
}

.foods-top__logo,
.foods-top__search {
  float: left;
}

.foods-top__logo {
  margin-right: 63px;
}

.foods-top__logo-image {
  display: block;
  width: 134px;
  height: 98px;
  margin-top: 32px;
  margin-left: 43px;
  background-image: url("../images/logo/logo_foods.png");
}

.foods-top__search {
  font-size: 15px;
}

.foods-top__search-form {
  position: relative;
  margin-top: 55px;
}

input[name="foods-top__search-field"] {
  width: 910px;
  height: 52px;
  font-size: 15px;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 57px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[name="foods-top__search-field"]::-webkit-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  color: #000;
  opacity: 0.5;
}

input[name="foods-top__search-field"]:-ms-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  color: #000;
  opacity: 0.5;
}

input[name="foods-top__search-field"]::-ms-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  color: #000;
  opacity: 0.5;
}

input[name="foods-top__search-submit"] {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 19px;
  height: 19px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -114px -59px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.foods-top__search-example p {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  color: #000;
}

/* Foods content */

.foods-content--left {
  float: left;
  width: 20%;
}

.foods-content--right {
  float: right;
  width: 80%;
  padding-left: 4px;
}

/* Foods catalog */

.foods-catalog h3 {
  font-family: "Museo Sans Cyrl900";
  font-size: 22px;
  line-height: 26px;
  padding-left: 20px;
  padding-bottom: 11px;
  color: black;
}

.foods-catalog__goods-item {
  display: block;
  width: 211px;
  height: 41px;
  font-family: "Museo Sans Cyrl500";
  font-size: 13px;
  line-height: 39px;
  text-decoration: none;
  padding-left: 20px;
  color: #666;
}

.foods-catalog__goods-item--active {
  position: relative;
  width: 197px;
  background-color: #ffd33a;
  color: #fff;
  box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.foods-catalog__goods-item--active::before,
.foods-catalog__goods-item--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 33px;
  height: 20px;
  background-color: #ffd33a;
}

.foods-catalog__goods-item--active::before {
  top: 0;
  right: -8px;
  transform: skew(36deg);
  box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.foods-catalog__goods-item--active::after {
  height: 21px;
  top: 20px;
  right: -8px;
  transform: skew(-36deg);
}

/* Foods slider */

.foods-slider {
  position: relative;
}

.foods-slider p {
  position: absolute;
  color: #fff;
}

.foods-slider__gallery {
  padding-top: 9px;
}

.foods-slider__gallery-image--2,
.foods-slider__gallery-image--3 {
  display: none;
}

.foods-slider__promo-favorites {
  top: 212px;
  left: 29px;
  width: 230px;
  font-family: "Museo Sans Cyrl500";
  font-size: 22px;
  line-height: 24px;
}

.foods-slider__promo-favorites b {
  font-family: "Museo Sans Cyrl900";
}

.foods-slider__promo-subscription {
  top: 279px;
  left: 29px;
  width: 380px;
  font-family: "Museo Sans Cyrl500";
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.foods-slider__promo-subscription .inline-link {
  color: #fff;
}

.foods-slider__promo-cart {
  position: absolute;
  top: 196px;
  right: 95px;
  content: "";
  display: block;
  width: 245px;
  height: 20px;
  font-family: "Museo Sans Cyrl500";
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  color: #fff;
}

.foods-slider__promo-cart b {
  font-family: "Museo Sans Cyrl900";
}

.foods-slider__promo-cart::before {
  position: absolute;
  top: -103px;
  right: 74px;
  content: "";
  display: block;
  width: 95px;
  height: 89px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -7px -8px;
  opacity: 0.9;
}


/* Foods bestsellers */

.foods-bestsellers__goods-item {
  display: inline-block;
  vertical-align: top;
}

/* Foods popular */

.foods-popular__goods-item {
  display: inline-block;
  vertical-align: top;
}

/* Foods footer */

.foods-footer__block--1,
.foods-footer__block--2,
.foods-footer__block--3 {
  float: left;
}

.foods-footer__block--4 {
  float: right;
}

.foods-footer__social-links li {
  display: inline-block;
  vertical-align: top;
}