/* @font-face {
    font-family: "Museo Sans Cyrl100";
    src: url('../fonts/MuseoSansCyrl100.otf');
    src: url('../fonts/museosanscyrl100-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl300";
    src: url('../fonts/MuseoSansCyrl300.otf');
    src: url('../fonts/museosanscyrl300-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl500";
    src: url('../fonts/MuseoSansCyrl500.otf');
    src: url('../fonts/museosanscyrl500-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl700";
    src: url('../fonts/MuseoSansCyrl700.otf');
    src: url('../fonts/museosanscyrl700-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl900";
    src: url('../fonts/MuseoSansCyrl900.otf');
    src: url('../fonts/museosanscyrl900-webfont.woff2') format('woff2'),
         url('../fonts/museosanscyrl900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: "Museo Sans Cyrl100";
    src: url('https://seller.pokupo.ru/api/fonts/MuseoSansCyrl100.otf');
    src: url('https://seller.pokupo.ru/api/fonts/museosanscyrl100-webfont.woff2') format('woff2'),
         url('https://seller.pokupo.ru/api/fonts/museosanscyrl100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl300";
    src: url('https://seller.pokupo.ru/api/fonts/MuseoSansCyrl300.otf');
    src: url('https://seller.pokupo.ru/api/fonts/museosanscyrl300-webfont.woff2') format('woff2'),
         url('https://seller.pokupo.ru/api/fonts/museosanscyrl300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl500";
    src: url('https://seller.pokupo.ru/api/fonts/MuseoSansCyrl500.otf');
    src: url('https://seller.pokupo.ru/api/fonts/museosanscyrl500-webfont.woff2') format('woff2'),
         url('https://seller.pokupo.ru/api/fonts/museosanscyrl500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl700";
    src: url('https://seller.pokupo.ru/api/fonts/MuseoSansCyrl700.otf');
    src: url('https://seller.pokupo.ru/api/fonts/museosanscyrl700-webfont.woff2') format('woff2'),
         url('https://seller.pokupo.ru/api/fonts/museosanscyrl700-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Museo Sans Cyrl900";
    src: url('https://seller.pokupo.ru/api/fonts/MuseoSansCyrl900.otf');
    src: url('https://seller.pokupo.ru/api/fonts/museosanscyrl900-webfont.woff2') format('woff2'),
         url('https://seller.pokupo.ru/api/fonts/museosanscyrl900-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Museo Sans Cyrl500";
  font-size: 13px;
  background-color: #f4f4f4;
  color: #666;
}

ul {
  list-style-type: none;
}

img {
  width: auto;
  max-width: 100%;
}

button {
  display: block;
  background-image: url("../images/foods_sprite.fw.png");
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.foods-container {
  clear: both;
  overflow: hidden;
  width: 1180px;
  margin: 0 auto;
}

.inline-link {
  text-decoration: underline;
  color: #2e8231;
}

.button {
  display: block;
  font-family: "Museo Sans Cyrl900";
  text-align: center;
  text-decoration: none;
  background-color: #ffd33a;
  color: black;
  box-shadow: 0 1px 0 #ba9101;
}

.exit-button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 13px;
  text-decoration: none;
  padding-top: 14px;
  padding-right: 49px;
  color: #666;
}

.exit-button::after {
  position: absolute;
  top: 14px;
  right: 29px;
  content: "";
  display: block;
  width: 12px;
  height: 14px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -165px -105px;
}

::-webkit-scrollbar {
  width: 4px;
  padding-right: 9px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  color: #ffd33a;
  background: #ffd33a;
}

/* Foods header */

.foods-header {
  min-height: 58px;
  background-color: #2e8231;
}

.foods-header__menu {
  float: left;
}

.foods-header__personal {
  float: right;
  margin-right: 57px;
}

.foods-header__menu li,
.foods-header__personal li {
  display: inline-block;
  vertical-align: top;
}

.foods-header__menu-item {
  display: block;
  font-family: "Museo Sans Cyrl900";
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  margin-top: 17px;
  margin-right: 27px;
  color: #fff;
}

.foods-header__personal-item {
  position: relative;
  display: block;
  font-size: 11px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 19px;
  margin-left: 25px;
  padding-left: 30px;
  color: #fff;
}

.foods-header__personal-item::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/foods_sprite.fw.png");
}

.foods-header__personal-item--user-name::before {
  top: 0;
  left: 5px;
  width: 16px;
  height: 20px;
  background-position: -140px -8px;
}

.foods-header__personal-item--subscription::before {
  top: 0;
  left: 3px;
  width: 17px;
  height: 19px;
  background-position: -114px -34px;
}

.foods-header__personal-item--favorites::before {
  top: 2px;
  left: -1px;
  width: 19px;
  height: 17px;
  background-position: -159px -11px;
}

.foods-header__personal-item--cart::before {
  top: 0;
  left: 1px;
  width: 20px;
  height: 19px;
  background-position: -112px -8px;
}

.foods-header__personal-item--cart span {
  position: absolute;
  top: 0;
  right: -27px;
  display: block;
  width: 22px;
  height: 22px;
  line-height: 24px;
  text-align: center;
  background-color: #cf453c;
  border-radius: 50%;
}

/* Foods top */

.foods-top {
  min-height: 172px;
  margin-bottom: 31px;
  background-color: #fff;
}

.foods-top__logo,
.foods-top__search {
  float: left;
}

.foods-top__logo {
  margin-right: 63px;
}

.foods-top__logo-image {
  display: block;
  width: 134px;
  height: 98px;
  margin-top: 32px;
  margin-left: 43px;
  background-image: url("../images/logo/logo_foods.png");
}

.foods-top__search {
  font-size: 15px;
}

.foods-top__search-form {
  position: relative;
  margin-top: 55px;
}

input[name="foods-top__search-field"] {
  width: 910px;
  height: 52px;
  font-size: 15px;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 57px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[name="foods-top__search-field"]::-webkit-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  color: #000;
  opacity: 0.5;
}

input[name="foods-top__search-field"]:-ms-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  color: #000;
  opacity: 0.5;
}

input[name="foods-top__search-field"]::-ms-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  color: #000;
  opacity: 0.5;
}

input[name="foods-top__search-submit"] {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 19px;
  height: 19px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -114px -59px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.foods-top__search-example p {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  color: #000;
}

/* Foods content */

.foods-content {
  position: relative;
}

.foods-content h1 {
  font-family: "Museo Sans Cyrl900";
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
  color: black;
}

.foods-content h1 + p {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 12px;
  margin-bottom: 28px;
  color: black;
}

.foods-content h2 {
  font-family: "Museo Sans Cyrl900";
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 22px;
  color: black;
}

.foods-content h3 {
  font-family: "Museo Sans Cyrl900";
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 11px;
  padding-left: 20px;
  color: black;
}

.foods-content--left {
  float: left;
  width: 20%;
}

.foods-content--right {
  float: right;
  width: 80%;
  padding-left: 4px;
}

.foods-content--left,
.foods-content--right {
  margin-bottom: 17px;
}

.foods-section {
  position: relative;
  margin-bottom: 32px;
}

/* Foods catalog */

.foods-catalog__goods-item {
  display: block;
  width: 211px;
  height: 41px;
  font-size: 13px;
  line-height: 39px;
  text-decoration: none;
  padding-left: 20px;
  color: #666;
}

.foods-catalog__goods-item--active {
  position: relative;
  width: 197px;
  background-color: #ffd33a;
  color: #fff;
  box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.foods-catalog__goods-item--active::before,
.foods-catalog__goods-item--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 33px;
  height: 20px;
  background-color: #ffd33a;
}

.foods-catalog__goods-item--active::before {
  top: 0;
  right: -8px;
  transform: skew(36deg);
  box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.foods-catalog__goods-item--active::after {
  height: 21px;
  top: 20px;
  right: -8px;
  transform: skew(-36deg);
}

/* Foods promo */

.foods-promo {
  margin-bottom: 32px;
  padding-top: 9px;
}

.foods-section .foods-promo {
  padding-top: 0;
}

.foods-promo__block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 460px;
  min-height: 370px;
  text-decoration: none;
  margin-right: 16px;
  margin-bottom: 20px;
  padding-top: 252px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% top;
  color: #000;
  border-radius: 5px;
}

.foods-promo__block--1 {
  background-image: url(../images/pages/main/foods-promo__image-1.jpg);
}

.foods-promo__block--2 {
  background-image: url(../images/pages/main/foods-promo__image-2.jpg);
}

.foods-promo__block--3 {
  background-image: url(../images/pages/main/foods-promo__product-item-1.jpg);
}

.foods-promo__block--4 {
  background-image: url(../images/pages/main/foods-promo__product-item-2.jpg);
}

.foods-promo__block:nth-child(even) {
  margin-right: 0;
}

.foods-promo__block::after {
  position: absolute;
  top: 104px;
  right: 24px;
  content: "%";
  font-family: "Museo Sans Cyrl900";
  font-size: 154px;
  color: #fff;
}

.foods-promo__block--without-discount::after {
  display: none;
}

.foods-promo__block:hover {
  cursor: pointer;
}

.foods-promo__block img {
  margin-bottom: 16px;
}

.promo-text {
  pointer-events: none;
}

.promo-text--header {
  font-size: 22px;
  line-height: 24px;
}

.promo-text--cart {
  position: absolute;
  content: "";
  display: block;
  width: 245px;
  height: 20px;
  text-align: center;
  color: #fff;
  opacity: 0.9;
}

.promo-text--header b,
.promo-text--cart b {
  font-family: "Museo Sans Cyrl900";
}

.promo-text--cart::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/foods_sprite.fw.png");
  opacity: 0.9;
}

.foods-promo .promo-text--header,
.foods-promo__product-name {
  max-width: 350px;
  margin-bottom: 13px;
  padding-left: 30px;
}

.foods-promo .promo-text--description {
  width: 410px;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 21px;
  padding-left: 30px;
  color: #a3a3a3;
}

.foods-promo .inline-link {
  color: #2e8231;
}

.foods-promo .promo-text--cart {
  top: 116px;
  right: -8px;
  font-size: 22px;
  line-height: 24px;
}

.foods-promo .promo-text--cart::before {
  top: -87px;
  right: 82px;
  width: 81px;
  height: 76px;
  background-position: -210px -8px;
}

.foods-promo__product-name {
  margin-bottom: 19px;
}

.foods-promo__product-price {
  font-family: "Museo Sans Cyrl900";
  font-size: 18px;
  line-height: 26px;
  padding-top: 6px;
  padding-left: 30px;
}

.foods-promo__product-price--current {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}

.foods-promo__product-price--current::before {
  position: absolute;
  top: 10px;
  left: -2px;
  content: "";
  display: block;
  width: 115%;
  height: 2px;
  background-color: #ea5906;
  transform: rotate(-13deg);
  }

.foods-promo__product-price--discount {
  font-size: 24px;
  padding-left: 15px;
  color: #ea5906;
}

.foods-promo__product-buy,
.foods-goods__product-buy {
  position: absolute;
  width: 119px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  border-radius: 15px;
}

.foods-promo__product-buy {
  bottom: 19px;
  right: 30px;
}

/* Foods slider */

.foods-slider {
  position: relative;
  margin-bottom: 52px;
}

.foods-slider + .foods-promo {
  margin-bottom: 43px;
}

.foods-slider p {
  position: absolute;
  color: #fff;
}

.foods-slider__gallery {
  /* padding-top: 9px; */
  background-color: #2e8231;
  border-radius: 5px;
}

.foods-slider__gallery-image {
  display: none;
  width: auto;
  max-height: 370px;
  margin: 0 auto;
  /* width: 940px;
  height: 370px;
  background-repeat: no-repeat;
  background-position: 50% top;
  border-radius: 5px; */
}

.foods-slider__gallery-image--active {
  display: block;
}

.foods-slider__gallery-image:hover {
  cursor: pointer;
}

/* .foods-slider__gallery-image--1 {
  background-image: url("../images/pages/main/foods-slider__gallery-image-1.png");
} */

/* .foods-slider__gallery-image--2,
.foods-slider__gallery-image--3 {
  display: none;
} */

.foods-slider .promo-text--header {
  top: 212px;
  left: 29px;
  width: 230px;
}

.foods-slider .promo-text--description {
  top: 279px;
  left: 29px;
  width: 380px;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}
 
.foods-slider .inline-link {
  color: #fff;
}

.foods-slider .promo-text--cart {
  top: 196px;
  right: 95px;
  font-size: 26px;
  line-height: 28px;
}

.foods-slider .promo-text--cart::before {
  top: -103px;
  right: 74px;
  width: 95px;
  height: 89px;
  background-position: -7px -8px;
}

.foods-slider__pagination {
  position: absolute;
  right: 22px;
  bottom: 30px;
}

.foods-slider__pagination li {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
}

.foods-slider__pagination-button {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.foods-slider__pagination-button--active::before {
  position: absolute;
  top: 6px;
  left: 6px;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
}

/* Foods carousel */

.foods-carousel {
  position: absolute;
  top: 0;
  right: 0;
}

.foods-carousel-button {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 18px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -140px -34px;
}

.foods-carousel-button--left {
  position: relative;
  top: 12px;
  right: 36px;
  transform: rotate(180deg);
}

.foods-carousel-button--right {
  position: relative;
  top: 11px;
  right: 1px;
}

.foods-carousel-button--disabled {
  opacity: 0.5;
  cursor: default;
}

/* Foods goods */

.foods-goods__product-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 370px;
  text-align: center;
  text-decoration: none;
  margin-left: -1px;
  margin-right: 18px;
  margin-bottom: 20px;
  padding-top: 2px;
  background-color: white;
  color: #000;
  border: 2px solid transparent;
  border-radius: 5px;
}

.foods-goods__product-item:nth-child(4n) {
  margin-right: 0;
}

.foods-goods__product-item:hover {
  border: 2px solid #ffd33a;
  cursor: pointer;
}

.foods-goods__product-item img {
  margin-bottom: 5px;
}

.foods-goods__product-category {
  font-family: "Museo Sans Cyrl300";
  font-size: 12px;
  line-height: 25px;
  opacity: 0.5;
}

.foods-goods__product-name {
  min-height: 40px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
  padding: 0 25px;
}

.foods-goods__product-price {
  font-family: "Museo Sans Cyrl900";
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 6px;
}

.foods-goods__product-status {
  font-family: "Museo Sans Cyrl300";
  font-size: 12px;
  line-height: 26px;
}

.foods-goods__product-buy {
  display: none;
  bottom: 25px;
  right: 50px;
}

.foods-goods__product-favorite {
  position: absolute;
  top: 18px;
  left: 19px;
  display: none;
  width: 18px;
  height: 17px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -161px -35px;
}

.foods-goods__product-item:hover .foods-goods__product-buy,
.foods-goods__product-item:hover .foods-goods__product-favorite {
  display: block;
}

.foods-goods__product-item:hover .foods-goods__product-status--not-available + .foods-goods__product-buy {
  display: none;
}

/* Foods breadcrumbs */

.foods-breadcrumbs {
  margin-bottom: 11px;
}

.foods-breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-family: "Museo Sans Cyrl500";
  font-size: 13px;
  line-height: 30px;
  margin-right: 8px;
  color: #666;
}

.foods-breadcrumbs a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: underline;
  color: #2e8231;
}

.foods-breadcrumbs a::after {
  position: absolute;
  top: 0;
  right: -10px;
  content: "/";
}

/* Foods subsection */

.foods-subsection {
  position: relative;
  margin-bottom: 34px;
}

.foods-subsection li {
  display: inline-block;
  vertical-align: top;
  font-family: "Museo Sans Cyrl500";
  font-size: 13px;
  margin-right: 7px;
  color: #666;
}

.foods-subsection__item {
  display: inline-block;
  vertical-align: top;
  height: 42px;
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  padding-left: 19px;
  padding-right: 19px;
  background-color: white;
  color: #666;
  border: 1px solid #2e8231;
  border-radius: 5px;
}

.foods-subsection__item--active {
  background-color: #2e8231;
  color: #fff;
}

.foods-subsection__item:hover {
  border: 1px solid #ffd33a;
}

.foods-subsection__item--active:hover {
  border: 1px solid #2e8231;
}

/* Foods sorter */

.foods-sorter {
  font-family: "Museo Sans Cyrl300";
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 34px;
  padding-left: 32px;
  color: black;
  opacity: 0.5;
}

.foods-sorter__form label {
  margin-right: 12px;
}

/* Foods pagination */

.foods-pagination {
  position: relative;
  top: -3px;
  margin-bottom: 61px;
}

.foods-pagination li {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

.foods-pagination li.ellipsis {
  margin-right: 5px;
}

.foods-pagination__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 49px;
  font-family: "Museo Sans Cyrl900";
  font-size: 13px;
  line-height: 49px;
  text-decoration: none;
  padding-left: 22px;
  padding-right: 22px;
  color: #010101;
  border: 1px solid transparent;
  border-radius: 5px;
}

.foods-pagination__item--active {
  background-color: #e9e9e7;
}

.foods-pagination__item--dotted {
  margin-right: 5px;
}

.foods-pagination__item--back::before,
.foods-pagination__item--forward::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 17px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -184px -122px;
}

.foods-pagination__item--back::before {
  top: 17px;
  left: 21px;
}

.foods-pagination__item--forward::before {
  top: 19px;
  left: 23px;
  transform: rotate(180deg);
}

.foods-pagination__item:hover {
  border: 1px solid #ffd33a;
}

.pagination_main {
  text-align: center;
  margin-top: 30px;
}

.pagination_main a {
  position: relative;
  font-family: "Museo Sans Cyrl900";
  font-size: 13px;
  font-weight: 900;
  text-decoration: none; 
  text-transform: uppercase;  
  color: #000;
}

.pagination_main a::before {
  position: absolute;  
  top: -8px; 
  left: -40px; 
  content: ""; 
  display: block;
  width: 30px; 
  height: 31px; 
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -303px -48px;
}

/* Foods product card */

.foods-content--product-card {
  margin-bottom: 38px;
}

.foods__product-card {
  margin-bottom: 42px;
  padding: 30px;
  padding-right: 0;
  padding-bottom: 55px;
  background-color: #fff;
  border-radius: 5px;
}

.product-card__image,
.product-card__action {
  float: left;
}

.product-card__image {
  min-width: 371px;
  margin-right: 162px;
  padding-top: 19px;
  padding-left: 31px;
}

.product-card__action {
  text-align: center;
  padding-top: 54px;
}

.product-card__action-quantity {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 13px;
  color: black;
}

.product-card__action-price {
  font-family: "Museo Sans Cyrl900";
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 26px;
  color: black;
}

.product-card__action-buy {
  display: inline-block;
  width: 187px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 15px;
  border-radius: 25px;
}

.product-card__action-status {
  font-family: "Museo Sans Cyrl300";
  font-size: 12px;
  margin-bottom: 23px;
}

.product-card__action-favorite,
.product-card__action-subscription {
  position: relative;
  display: block;
  font-family: "Museo Sans Cyrl500";
  font-size: 13px;
  text-decoration: none;
  color: #2e8231;
}

.product-card__action-favorite {
  margin-bottom: 15px;
  padding-left: 25px;
}

.product-card__action-subscription {
  padding-left: 20px;
}

.product-card__action-favorite::before,
.product-card__action-subscription::before {
  position: absolute;
  top: 0;
  left: 10px;
  content: "";
  display: block;
  background-image: url("../images/foods_sprite.fw.png");
}

.product-card__action-favorite::before {
  width: 18px;
  height: 17px;
  background-position: -161px -35px;
}

.product-card__action-subscription::before {
  width: 17px;
  height: 19px;
  background-position: -162px -57px;
}

.product-card__tabs {
  clear: both;
  margin-bottom: 39px;
  padding-top: 48px;
  border-bottom: 1px solid #ccc;
}

.product-card__tab {
  display: inline-block;
  vertical-align: top;
  max-height: 35px;
  font-family: "Museo Sans Cyrl900";
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  margin-right: 28px;
  padding-bottom: 5px;
  color: #666;
}

.product-card__tab--active {
  color: #2e8231;
  border-bottom: 4px solid #2e8231;
}

.product-card__tab--reviews span {
  display: inline-block;
  vertical-align: baseline;
  font-family: "Museo Sans Cyrl300";
  font-size: 17px;
}

.product-card__description,
.product-card__reviews,
.product-card__delivery {
  display: none;
}

.product-card__characteristics {
  font-size: 13px;
  line-height: 18px;
}

.product-card__characteristics tr > td {
  width: 500px;
  vertical-align: top;
}

.product-card__characteristics tr > td:first-child {
  position: relative;
  width: 206px;
  font-family: "Museo Sans Cyrl900";
  z-index: 1;
}

.product-card__characteristics tr > td:first-child::after {
  position: absolute;
  top: 12px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dotted #ccc;
  z-index: -1;
}

.product-card__characteristics tr > td:first-child span {
  padding-right: 3px;
  background-color: #fff;
}

.product-card__description p,
.product-card__review p,
.product-card__delivery p {
  max-width: 650px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.product-card__reviews {
  position: relative;
  top: -5px;
}

.product-card__reviews-tab {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  margin-right: 0px;
  padding: 5px 11px;
  color: black;
}

.product-card__reviews-tab--active {
  border-bottom: none;
  background-color: #e9e9e7;
  color: #666;
}

.product-card__reviews-tab span {
  border-bottom: 1px dotted #000;
}

.product-card__reviews-tab--active span {
  border-bottom: none;
}

.product-card__review {
  padding-top: 28px;
}

.product-card__review time {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  color: #999;
}

.product-card__review time::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  display: block;
  width: 14px;
  height: 9px;
  background-image: url(../images/foods_sprite.fw.png);
}

.product-card__review--positive time::before {
  background-position: -138px -59px;
}

.product-card__review--negative time::before {
  background-position: -139px -75px;
}

.product-card__review-answer {
  position: relative;
  margin-top: 10px;
  padding-left: 50px;
}

.product-card__review-answer::before {
  position: absolute;
  top: 6px;
  left: 7px;
  content: "";
  display: block;
  width: 2px;
  height: 39px;
  background-color: #e9e9e7;
}

.product-card__review-answer time {
  padding-left: 6px;
}

.product-card__review-answer time::before {
  display: none;
}

.product-card__review-answer strong {
  line-height: 20px;
  color: #000;
}

/* Foods cart */

.foods-cart {
  padding-top: 16px;
  padding-bottom: 39px;
}

.cart-seller {
  position: relative; 
  margin-bottom: 30px; 
  padding-left: 65px;
}

.cart-seller::before {
  position: absolute;  
  top: 2px; 
  left: 23px;
  content: ""; 
  display: block; 
  width: 27px; 
  height: 35px; 
  background-image: url("../images/foods_sprite.fw.png"); 
  background-position: -306px -84px;
}

.cart-seller a {
  display: block; 
  font-family: "Museo Sans Cyrl300"; 
  font-size: 20px; 
  line-height: 28px; 
  color: #2e8231;
}

.foods-cart__item,
.address-info__item {
  display: table;
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
  background-color: #fff;
  color: black;
  border-radius: 5px;
}

.address-info__item {
  margin-bottom: 14px;
}

.foods-cart__item ul, 
.address-info__item ul {
  display: table;
  min-height: 100px;
}

.foods-cart__item--empty {
  position: relative;
  min-height: 320px;
  text-align: center;
}

.foods-cart__item--empty::after {
  position: absolute;
  top: 81px;
  left: calc(50% - 47px);
  content: "";
  display: block;
  width: 95px;
  height: 89px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -203px -89px;
}

.foods-cart__item--empty p {
  position: absolute;
  left: calc(50% - 78px);
  top: 184px;
  width: 152px;
  font-size: 26px;
  line-height: 28px;
  color: #d6d6d6;
}

.foods-cart__item li,
.address-info__item li {
  display: table-cell;
  vertical-align: middle;
}

.foods-cart__item-delete {
  padding-left: 30px;
}

.foods-cart__item-delete button,
.address-info__item-delete button {
  width: 14px;
  height: 13px;
  background-position: -164px -84px;
}

.foods-cart__item-image {
  padding-left: 30px;
}

.foods-cart__item-image img {
  vertical-align: bottom;
}

.foods-cart__item-product {
  width: 415px;
  padding-left: 30px;
  padding-bottom: 6px;
}

.foods-cart__item-product .foods-goods__product-category {
  line-height: 20px;
}

.foods-cart__item-product .foods-goods__product-name {
  min-height: auto;
  margin: 0;
  padding: 0;
}

.foods-cart__item-delivery {
  width: 110px;
  padding-bottom: 4px;
}

.foods-cart__item-delivery p {
  line-height: 20px;
}

.foods-cart__item-delivery time {
  font-family: "Museo Sans Cyrl900";
}

.foods-cart__item-favorites {
  padding-left: 62px;
}

.foods-cart__item-favorites button {
  width: 18px;
  height: 17px;
  background-position: -161px -35px;
}

.foods-cart__item-subscription {
  padding-left: 20px;
}

.foods-cart__item-subscription button {
  width: 17px;
  height: 19px;
  background-position: -162px -57px;
}

.foods-cart__item-quantity {
  font-family: "Museo Sans Cyrl900";
  font-size: 18px;
  line-height: 26px;
  padding-left: 30px;
}

.foods-cart__item-quantity span {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 2px;
}

.foods-cart__item-quantity .increase,
.foods-cart__item-quantity .decrease {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-family: "Museo Sans Cyrl700";
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  background-color: #cbcbcb;
  border-radius: 50%;
}

.foods-cart__item-quantity .decrease {
  margin-right: 15px;
}

.foods-cart__item-quantity .increase {
  margin-left: 15px;
}

.foods-cart__item-price {
  font-family: "Museo Sans Cyrl900";
  font-size: 18px;
  padding-top: 5px;
  padding-left: 105px;
}

.foods-cart__result {
  text-align: right;
  padding-top: 12px;
}

.foods-cart__result-quantity {
  font-family: "Museo Sans Cyrl300";
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 13px;
  padding-right: 43px;
  color: black;
}

.foods-cart__result-price {
  font-family: "Museo Sans Cyrl900";
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 26px;
  padding-right: 43px;
  color: black;
}

.foods-cart__result-checkout {
  display: inline-block;
  width: 247px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 25px;
}

/* Foods subscription */

.foods-subscription {
  margin-top: 45px;
}

.foods-subscription h3 {
  padding-left: 0;
}

.foods-subscription h3 + .foods-cart {
  padding-top: 8px;
}

.foods-subscription__promo {
  margin-bottom: 20px;
}

.foods-subscription__promo p {
  font-size: 13px;
  line-height: 20px;
  color: black;
}

/* Foods personal */

.foods-personal {
  min-height: 493px;
}

.personal__tabs {
  clear: both;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 44px;
  padding-top: 6px;
  border-bottom: 1px solid #ccc;
}

.personal__tab {
  display: inline-block;
  vertical-align: top;
  max-height: 35px;
  font-family: "Museo Sans Cyrl900";
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  margin-right: 28px;
  padding-bottom: 5px;
  color: #666;
}

.personal__tab--active {
  color: #2e8231;
  border-bottom: 4px solid #2e8231;
}

.personal__tab--address {
  margin-right: 0;
}

.personal__profile {
  font-size: 13px;
  line-height: 18px;
}

.personal__profile-info table {
  margin-bottom: 22px;
}

.personal__profile-info td {
  font-size: 13px;
  line-height: 38px;
  color: #666;
}

.personal__profile-info tr > td:first-child {
  width: 73px;
}

.personal__profile-info tr > td:last-child {
  font-size: 14px;
  color: #000;
}

.personal__address {
  display: none;
  position: relative;
  top: -6px;
}

.profile-actions__action-button,
.address-actions__action-button {
  position: relative;
  display: inline-block;
  height: 40px;
  font-size: 14px;
  line-height: 37px;
  margin-right: 8px;
  margin-bottom: 15px;
  padding-left: 46px;
  padding-right: 30px;
  background-color: transparent;
  color: #999;
  border: 1px solid #999;
  border-radius: 20px;
  box-shadow: none;
}

.address-actions__action-button {
  margin-bottom: 0;
}

.profile-actions__action-button::before,
.address-actions__action-button::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/foods_sprite.fw.png");
}

.profile-actions__action-button--edit::before {
  top: 12px;
  left: 20px;
  width: 17px;
  height: 14px;
  background-position: -303px -8px;
}

.profile-actions__action-button--change::before {
  top: 12px;
  left: 28px;
  width: 11px;
  height: 13px;
  background-position: -303px -29px;
}

.address-actions__action-button--add {
  width: 220px;
}

.address-actions__action-button--add::before {
  top: -2px;
  left: 41px;
  content: "+";
  font-family: "Museo Sans Cyrl500";
  font-size: 22px;
  background-image: none;
}

.personal__profile-edit,
.personal__address-edit {
  display: none;
}

.personal__profile-edit {
  margin-top: 10px;
}

.personal__address-edit {
  margin-top: 12px;
}

.personal__profile-edit--left,
.personal__profile-edit--right,
.personal__address-edit--left,
.personal__address-edit--right {
  float: left;
}

.personal__profile-edit--left,
.personal__address-edit--left {
  width: 480px;
  margin-right: 121px;
}

.profile-edit__form,
.address-edit__form {
  overflow: hidden;
}

.profile-edit__form label,
.address-edit__form label {
  display: block;
  font-family: "Museo Sans Cyrl900";
  font-size: 14px;
  padding-bottom: 7px;
  color: #000;
}

.profile-edit__form input[type="text"],
.address-edit__form input[type="text"],
.profile-edit__form textarea {
  width: 480px;
  height: 50px;
  font-family: "Museo Sans Cyrl300";
  margin-bottom: 27px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.address-edit__form input[type="text"] {
  margin-bottom: 29px;
  padding-left: 11px;
}

.profile-edit__form textarea {
  height: 152px;
  margin-bottom: 46px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  resize: none;
}

.profile-edit__form-submit,
.profile-edit__form-reset,
.address-edit__form-submit,
.address-edit__form-reset {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 50px;
  font-family: "Museo Sans Cyrl300";
  font-size: 18px;
  border: none;
  border-radius: 25px;
  line-height: 50px;
  cursor: pointer;
}

.profile-edit__form-reset,
.address-edit__form-reset {
  margin-right: 37px;
  background-color: #ebebed;
  box-shadow: 0 1px 0 #cacaca;
}

.address-edit__form-house,
.address-edit__form-building,
.address-edit__form-flat {
  float: left;
}

.address-edit__form-house label,
.address-edit__form-building label,
.address-edit__form-flat label,
.address-edit__form-house input[type="text"],
.address-edit__form-building input[type="text"],
.address-edit__form-flat input[type="text"] {
  width: 148px;
}

.address-edit__form-house input[type="text"],
.address-edit__form-building input[type="text"] {
  margin-right: 18px;
}

.address-edit__form input[type="text"].address-edit__form-phone {
  margin-bottom: 51px;
}

.personal__address-info {
  margin-bottom: 45px;
}

.address-info__item--active .address-info__item-flag span {
  background-color: #ffd33a;
  border: none;
}

.address-info__item-flag {
  width: 66px;
  padding-left: 22px;
  padding-top: 5px;
}

.address-info__item-flag span {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.address-info__item-information {
  width: 800px;
}

.address-info__item-information p {
  font-family: "Museo Sans Cyrl300";
  font-size: 14px;
  line-height: 20px;
  padding-top: 6px;
  color: black;
}

.address-info__name,
.address-info__phone {
  position: relative;
  padding-right: 10px;
}

.address-info__name::after,
.address-info__phone::after {
  position: absolute;
  top: 6px;
  right: 2px;
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}

.address-info__address {
  display: block;
}

.address-info__item-edit {
  position: relative;
  padding-left: 52px;
}

.address-info__item-edit::before {
  position: absolute;
  top: 43%;
  left: 28px;
  content: "";
  display: block;
  width: 17px;
  height: 14px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -303px -8px;
}

.address-info__item-edit:hover::before {
  background-position: -324px -8px;
}

.address-info__item-edit button {
  font-family: "Museo Sans Cyrl900";
  font-size: 15px;
  line-height: 24px;
  color: #999;
}

.address-info__item-edit:hover button {
  color: #2e8231;
}

.address-info__item-delete {
  padding-left: 44px;
}

.personal__address-actions {
  margin-bottom: 32px;
}

/* Foods favorites */

.foods-goods--favorites {
  margin-top: 50px;
  margin-bottom: 40px;
}

.foods-goods--favorites .foods-goods__product-item:nth-child(n) {
  margin-right: 18px;
}

.foods-goods--favorites .foods-goods__product-item:nth-child(5n) {
  margin-right: 0;
}

.foods-goods--favorites .foods-goods__product-favorite:hover {
  background-position: -160px -125px;
}

.foods-goods--favorites .foods-goods__product-favorite:hover::after {
  position: absolute;
  top: -6px;
  left: 31px;
  content: "Убрать из избранного";
  display: block;
  width: 153px;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  background-color: white;
  color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.foods-goods--favorites .foods-goods__product-favorite:hover::before {
  position: absolute;
  top: 5px;
  left: 27px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: 1;
}

.foods-pagination--favorites {
  position: static;
  display: block;
  width: 638px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.foods-pagination--favorites li {
  margin-right: 17px;
}

.foods-pagination--favorites li.ellipsis {
  margin-right: 14px;
}

.foods-pagination--favorites li:last-child {
  margin-right: 0;
}

.foods-pagination--favorites .foods-pagination__item {
  width: 53px;
  height: 53px;
  text-align: center;
  line-height: 53px;
  padding: 0;
  border: none;
  border-radius: 50%;
}

.foods-pagination--favorites .foods-pagination__item:hover {
  border: none;
  background-color: #ffd33a;
  box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

/* Foods delivery */

.foods-section--delivery {
  position: relative;
}

.foods-section--delivery::after {
  position: absolute;
  bottom: -32px;
  right: -98px;
  content: "";
  display: block;
  width: 462px;
  height: 554px;
  background-image: url("../images/pages/delivery/foods-delivery__image-2.jpg");
  background-repeat: no-repeat;
}

/* Foods text */

.foods-text {
  padding-top: 17px;
  padding-bottom: 8px;
}

.foods-text h3 {
  margin-bottom: 20px;
  padding-left: 0;
}

.foods-text p {
  max-width: 850px;
  font-family: "Museo Sans Cyrl300";
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 24px;
  color: black;
}

.foods-text img {
  display: block;
  margin-bottom: 56px;
}

/* Foods order */

.exit-button--order {
  padding-top: 7px;
}

.exit-button--order::after {
  top: 7px;
}

.foods-section--order h1 {
  text-align: center;
  margin-bottom: 34px;
}

.foods-order {
  min-height: 493px;
  text-align: center;
}

.order__tabs {
  clear: both;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 71px;
  padding-top: 6px;
  border-bottom: 1px solid #ccc;
}

.order__tab {
  display: inline-block;
  vertical-align: top;
  max-height: 35px;
  font-family: "Museo Sans Cyrl900";
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  margin-right: 38px;
  padding-bottom: 5px;
  color: #666;
}

.order__tab--active {
  color: #2e8231;
  border-bottom: 4px solid #2e8231;
}

.order__tab--confirmation {
  margin-right: 0;
}

.order-delivery__form--left,
.order-delivery__form--right {
  float: left;
}

.order-delivery__form--left {
  width: 480px;
  margin-left: 49px;
  margin-right: 121px;
}

.order-delivery__form--right {
  width: 480px;
}

.order-delivery__form {
  overflow: hidden;
  text-align: left;
  margin-bottom: 64px;
}

.order-delivery__form h3 {
  text-align: center;
  margin-bottom: 40px;
  padding-left: 0;
}

.order-delivery__form label {
  display: block;
  font-family: "Museo Sans Cyrl900";
  font-size: 14px;
  padding-bottom: 7px;
  color: #000;
}

.order-delivery__form input[type="text"] {
  width: 480px;
  height: 50px;
  font-family: "Museo Sans Cyrl300";
  margin-bottom: 29px;
  padding-left: 11px;
  padding-right: 19px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.order-payment__form h3 {
  margin-bottom: 35px;
  padding-left: 0;
}

.order-payment__method {
  margin-bottom: 80px;
  border-bottom: 1px solid #ccc;
}

.order-payment__method li {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

.order-payment__method li:last-child {
  margin-right: 0;
}

.order-payment__method a {
  display: block;
  width: 152px;
  height: 137px;
  text-decoration: none;
  color: #010101;
  opacity: 0.5;
}

.order-payment__method a.order-payment__method-item--active {
  border-bottom: 4px solid #2e8231;
  opacity: 1;
}

.order-payment__method-item img {
  position: relative;
}

.order-payment__method-item--cash img {
  top: 8px;
}

.order-payment__method-item--card img {
  top: 7px;
}

.order-payment__method-item--mobile img {
  top: 2px;
}

.order-payment__method-item--qiwi img {
  top: 4px;
}

.order-payment__method p {
  width: 152px;
  font-family: "Museo Sans Cyrl900";
  font-size: 14px;
  text-align: center;
}

.order-payment__method p:first-child {
  display: table-cell;
  vertical-align: middle;
  height: 53px;
  text-align: center;
  margin-bottom: 20px;
}

.order-payment__method p:nth-child(2) {
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 15px;
}

.order-payment__method img {
  vertical-align: middle;
  width: auto;
  max-height: 53px;
}

.delivery-payment__form-action {
  margin-bottom: 90px;
}

.delivery-payment__form-submit,
.delivery-payment__form-reset {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  height: 50px;
  font-family: "Museo Sans Cyrl300";
  font-size: 18px;
  border: none;
  border-radius: 25px;
  line-height: 50px;
  cursor: pointer;
}

.delivery-payment__form-reset {
  margin-right: 37px;
  background-color: #ebebed;
  box-shadow: 0 1px 0 #cacaca;
}

.delivery-payment__form-submit {
  margin-right: 47px;
}

.order-delivery__form-house,
.order-delivery__form-building,
.order-delivery__form-flat,
.order-delivery__form-date,
.order-delivery__form-time {
  float: left;
}

.order-delivery__form-house label,
.order-delivery__form-building label,
.order-delivery__form-flat label,
.order-delivery__form-house input[type="text"],
.order-delivery__form-building input[type="text"],
.order-delivery__form-flat input[type="text"],
.order-delivery__form-date label,
.order-delivery__form-date input[type="text"],
.order-delivery__form-time label,
.order-delivery__form-time input[type="text"] {
  width: 148px;
}

.order-delivery__form-house input[type="text"],
.order-delivery__form-building input[type="text"],
.order-delivery__form-date input[type="text"],
.order-delivery__form-time input[type="text"] {
  margin-right: 18px;
}

.order-delivery__form-time input[name="order-delivery__form-time--from"] {
  margin-right: 2px;
}

.order-delivery__form-time input[name="order-delivery__form-time--to"] {
  margin-right: 0;
}

/* Foods footer */

.foods-footer {
  clear: both;
}

.foods-footer .foods-container {
  padding-top: 21px;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;
}

.foods-footer__block a {
  font-size: 13px;
  line-height: 25px;
  text-decoration: none;
  color: #666;
}

.foods-footer__block--1,
.foods-footer__block--2,
.foods-footer__block--3 {
  float: left;
}

.foods-footer__block--1 {
  width: 241px;
  padding-left: 25px;
}

.foods-footer__link {
  position: relative;
  line-height: 25px;
}

.foods-footer__link::before {
  position: absolute;
  top: 6px;
  left: -25px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../images/foods_sprite.fw.png");
}

.foods-footer__link--support a,
.foods-footer__link--email a,
.foods-footer__link--skype a,
.foods-footer__link--icq a {
  color: #2e8231;
  text-decoration: underline;
}

.foods-footer__link--support::before {
  background-position: -184px -45px;
}

.foods-footer__link--email::before {
  background-position: -183px -10px;
}

.foods-footer__link--skype::before {
  background-position: -185px -81px;
}

.foods-footer__link--phone::before {
  width: 14px;
  background-position: -185px -98px;
}

.foods-footer__link--icq::before {
  background-position: -185px -63px;
}

.foods-footer__link--copyright::before {
  background-position: -184px -28px;
}

.foods-footer__block--2 {
  width: 239px;
}

.foods-footer__block--4 {
  float: right;
  width: 255px;
}

.foods-footer__social-links {
  margin-top: 8px;
  margin-bottom: 39px;
  padding-left: 34px;
}

.foods-footer__social-links li {
  display: inline-block;
  vertical-align: middle;
}

.foods-footer__social-links a {
  font-size: 0;
}

.foods-footer__social-link {
  display: block;
  background-image: url("../images/foods_sprite.fw.png");
}

.foods-footer__social-link--vk {
  width: 25px;
  height: 15px;
  margin-right: 19px;
  background-position: -100px -128px;
}

.foods-footer__social-link--vk:hover {
  background-position: -100px -104px;
}

.foods-footer__social-link--fb {
  width: 9px;
  height: 20px;
  margin-right: 19px;
  background-position: -8px -125px;
}

.foods-footer__social-link--fb:hover {
  background-position: -8px -102px;
}

.foods-footer__social-link--tw {
  width: 25px;
  height: 18px;
  margin-right: 16px;
  background-position: -50px -125px;
}

.foods-footer__social-link--tw:hover {
  background-position: -50px -103px;
}

.foods-footer__social-link--lj {
  width: 18px;
  height: 21px;
  margin-right: 17px;
  background-position: -80px -125px;
}

.foods-footer__social-link--lj:hover {
  background-position: -79px -102px;
}

.foods-footer__social-link--hh {
  width: 15px;
  height: 19px;
  margin-right: 15px;
  background-position: -131px -125px;
}

.foods-footer__social-link--hh:hover {
  background-position: -131px -102px;
}

.foods-footer__social-link--gp {
  width: 26px;
  height: 17px;
  background-position: -22px -125px;
}

.foods-footer__social-link--gp:hover {
  background-position: -22px -103px;
}

.foods-footer__subscription p {
  font-family: "Museo Sans Cyrl700";
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: #28282c;
}

.foods-footer__subscription {
  padding-left: 35px;
}

.foods-footer__subscription-form {
  position: relative;
  margin-bottom: 27px;
}

.foods-footer__subscription-form::after {
  position: absolute;
  top: 6px;
  right: 41px;
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #d0d4d8;
}

.foods-footer__subscription-form::before {
  position: absolute;
  top: 16px;
  right: 11px;
  content: "";
  width: 21px;
  height: 10px;
  background-image: url("../images/foods_sprite.fw.png");
  background-position: -114px -85px;
}

input[name="foods-footer__subscription-field"] {
  width: 220px;
  height: 42px;
  padding-left: 8px;
  padding-right: 52px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[name="foods-footer__subscription-field"]::placeholder {
  font-family: "Museo Sans Cyrl700";
  font-size: 13px;
  line-height: 42px;
  color: #28282c;
  opacity: 0.5;
}

input[name="foods-footer__subscription-submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: none;
}

input[name="foods-footer__subscription-submit"]:hover {
  cursor: pointer;
}

.foods-footer__copyrights p {
  position: relative;
  font-size: 13px;
  line-height: 25px;
  color: #666;
}

.foods-footer__copyrights p::before {
  position: absolute;
  top: 5px;
  left: -41px;
  content: "";
  display: block;
  width: 30px;
  height: 15px;
  background-image: url("../images/logo/logo_pokupo--small.png");
}

.foods-footer__copyrights a {
  color: #2e8231;
  text-decoration: underline;
}

/* Foods overlay */

.foods-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: #313131;
  opacity: 0.9;
}

/* Foods popup */

.foods-popup {
  position: fixed;
  top: 10%;
  left: calc(50% - 265px);
  width: 530px;
  /* min-height: 441px; */
  background-color: white;
  border-radius: 5px;
}

/* Foods popup - enter/registration */

.foods-popup__header-block {
  float: left;
  width: 50%;
  height: 80px;
  font-family: "Museo Sans Cyrl900";
  font-size: 18px;
  line-height: 80px;
  text-align: center;
  background-color: #2e8231;
  color: white;
  cursor: pointer;
}

.foods-popup__header-block--enter {
  border-top-right-radius: 5px;
}

.foods-popup__header-block--registration {
  border-top-left-radius: 5px;
}

.foods-popup__header-block--action {
  background-color: #28a42c;
}

.foods-popup__content {
  clear: both;
  padding-left: 50px;
  padding-top: 55px;
  padding-right: 49px;
  padding-bottom: 45px;
}

.foods-popup__form label {
  display: block;
  font-family: "Museo Sans Cyrl900";
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 7px;
  color: #010101;
}

.foods-popup__form input {
  width: 430px;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 17px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.foods-popup__form .foods-popup__form-password,
.foods-popup__form .foods-popup__form-email {
  margin-bottom: 30px;
}

.foods-popup__form input::-webkit-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 14px;
  color: #28282c;
}

.foods-popup__form input:-ms-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 14px;
  color: #28282c;
}

.foods-popup__form input::-ms-input-placeholder {
  font-family: "Museo Sans Cyrl300";
  font-size: 14px;
  color: #28282c;
}

.foods-popup__form--enter {
  display: none;
}

.foods-popup__form--registration p {
  font-family: "Museo Sans Cyrl300";
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333;
  opacity: 0.5;
}

input.foods-popup__form-submit {
  display: block;
  font-family: "Museo Sans Cyrl300";
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  background-color: #ffd33a;
  color: black;
  border: none;
  border-radius: 25px;
  box-shadow: 0 1px 0 #ba9101;
}

input.foods-popup__form-submit--enter {
  float: right;
  width: 250px;
  height: 50px;
  margin-bottom: 50px;
}

input.foods-popup__form-submit--registration {
  margin-bottom: 17px;
}

.foods-popup__forget-password {
  float: left;
  margin-top: 17px;
}


